@-ms-viewport {
	width: device-width;
}
body {
	font-family: 'Nunito', sans-serif;
	font-size: 190%;
}
h1 {
	font-family: 'Hanalei Fill', cursive;
	/* color: black; */
}
.img1 {
	background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}
#mouse {
	text-align: center;
	position: absolute;
	bottom: 10px;
}
.aboutus {
	text-align: center;
}

.img2 {
	background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true);
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}
.row {
	align-items: center;
	justify-content: center;
}

.img3 {
	background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
form {
	width: 70%;
}
.container-2 {
	text-align: center;
}
.footer {
	align-items: center;
	justify-content: center;
	text-align: center;
}
#work1:hover {
	color: aliceblue;
}
input,
textarea {
	color: white;
}
/* #work1:hover {
	border-image-width: 70%;
	height: auto;
	color: aqua; */

#p1,
#p2,
#p3 {
	display: none;
}
#text {
	width: 160px;
	height: 160px;
	background-color: #ffffff;
	border-radius: 15px;
	z-index: 1;
	opacity: 0.2;
	position: absolute;
	top: 2em;
	left: 3em;
	display: none;
	color: rgb(1, 24, 24);
	font-size: 20px;
}
#Name,
#Email,
#Message {
	color: white;
}
